flask==3.0.0
opencv-python==4.8.1.78
flask_cors==4.0.0
Flask-SocketIO==5.3.6
requests==2.31.0
Flask-APScheduler==1.13.1
flask_migrate==4.0.5
gevent==23.9.1
gevent-websocket==0.10.1
urllib3==1.26.16
Flask-SQLAlchemy==3.1.1
python-dotenv==1.0.0
onesignal-sdk==2.0.0

# DB
SQLAlchemy==2.0.23
psycopg2-binary==2.9.9
alembic==1.12.1
SQLAlchemy-Utils==0.41.1

pydantic==1.10.2
graypy==2.1.0