flask
opencv-python
flask_cors
Flask-SocketIO
opencv-python
requests
Flask-APScheduler
gevent
gevent-websocket
urllib3
flask_migrate
Flask-SQLAlchemy

# DB
SQLAlchemy
mysqlclient
alembic
SQLAlchemy-Utils

pydantic
pydantic-settings